/* Establishing the guidlines for the body section */
body {
  padding: 0;
  margin: 0;
  /* Background image set to span the screen and be static*/
  background-image: url("images/texture6.jpg");
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* Declaring a font */
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  /* I went back and added these shadows for effect*/
  text-shadow: 3px 3px rgb(0,0,0);

}
.inf-container {
  /* Container for the bio section not really sure of all of this to
  be honest */
  min-height: 50vh;
  font-size: 20px;
  /* Flex wrap for responsiveness and justified to center*/
  dislay: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inf {
  margin: 25vh auto;
  padding: 0;
  text-align: center;
  /* Bought the width down a bit for asthetics */
  width:50%;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(200,200,250);
    font-weight: normal;


}
.inf h1 {
/* Declaring font for h1 items */
font-family: 'Supermercado One', cursive;
color: rgb(200,200,250);
text-shadow: 3px 3px rgb(0,0,0);
}

.inf h2 {
/* Declaring font for h2 items*/
font-family: 'Supermercado One', cursive;
color: rgb(200,200,250);
text-shadow: 3px 3px rgb(0,0,0);
}
/* Using media query to reduce the text size at the smart phone level */
@media all and (max-width: 768px){
  .inf-container  {
    font-size: 16px;
  }
}
@media all and (max-width: 320px) {
  .inf-container {
    font-size: 10px;
  }

}

.Antihero {
  /* One hundred percent of veiw port hieght */
  height: 100vh;
  min-height: 740px;
  /* I am no hero nor do I wish to be and
  I posses a really twisted sense of humor */
  background-image: url("images/AntiHero.jpg");
  /* Positions the image in the center calls
  for no repeating of image, asks the image to cover
  the viewing area */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.Antihero .title {
  /* Setting the title parameters font color, size
  and position*/
  font-size: 20px;
  color: rgb(200,200,250);
  float: center;
  /* I found I did not need all those margins,
  however I wanted to mark them as 0 in case it broke
  the code */
  margin-left:  0em;
  margin-right: 0em;
  padding: 0em;
  text-align: center;
  line-height: 20px;

}

.title h1 {
font-family: 'Supermercado One', cursive;
font-style: normal;
font-weight: bold;
letter-spacing: normal;
}

.title h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
  letter-spacing: normal;
  text-shadow: 3px 3px rgb(0,0,0);
}
.Antihero .nav {
  /* Defining paramters of font again. The inline flex allows for
  the correct display of the link items */
  font-family: 'Supermercado One', cursive;
  font-weight: bold;
  color: rgb(200,200,240);
  display: inline-flex;
  text-shadow: 3px 3px rgb(0,0,0);

}
.Antihero .nav a {
  color: inherit;
  /* Making sure the underlined link is not present */
  text-decoration: none;
  }
}
.Antihero .navItem {
/* Aligning the texts, again no padding to interfer
with responsiveness */
text-align: center;
margin: 0;
padding: 0;
}

.Antihero .navItem:hover {
  /* Nice funky pastel color for the hover items */
  color: rgb(200,240,200);
}

@media all and (max-width: 768px){
  .Antihero .title {
    font-size: 16px;
  }
}
@media all and (max-width: 320px) {
  .Antihero .title {
    font-size: 10px;
  }

}
@media (max-width:426px) {
  /* I added this to change the format of the link items
  at a lower device setting for readability */
  .Antihero .nav {
    display: inline-block;
  }

}



.menu {
  /* Snuck that picture in learned that trick last semester
  with texturing of containers. Declaring the hieght, width, and
  font specifications. Resized the picture to reduce load time */
  background: url("images/DSC_0313a.png");
  min-height: 100vh;
  height: 100%;
    background-size: cover;
  padding: 0;
  width: 80%;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(200,200,250);
    font-size: 20px;
    font-weight: lighter.
  /* Declaring the flex properties for responsiveness*/
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  margin: 25vh auto;
  padding: 0;
  text-align: center;


}

.menu h1 {
  /**/
  font-family: 'Supermercado One', cursive;
  color: rgb(200,200,250);
  text-shadow: 3px 3px rgb(0,0,0);
}

.menu p {
  /* Declaring properties of the paragraph */
  width: 50%;
  text-align: center;
  display: inline-flex;
  text-shadow: 3px 3px rgb(0,0,0);
}

/* Using media query to reduce the size of the text at the smart phone level*/
@media all and (max-width: 768px){
  .menu {
    font-size: 16px;
  }
}
@media all and (max-width: 320px) {
  .menu {
    font-size: 10px;
  }

}
